*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(135, 170, 240);
}

h1{
    color: rgb(35, 65, 155);
    font-family: Verdana, sans-serif;
    font-size:3vw
}

p{
    font-weight: bold;
    margin-top: 2%;
    font-size:1.2vw
}

.painelPrincipal{
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    margin-top: 10vh;
}

.painelLogin{
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    border-radius: 2vw;
    grid-template-columns: 65% 35%;
    grid-template-areas: 'imagemLogin inputsLogin';
}

.imagemLogin{
    grid-area: imagemLogin;
    background-image: url(../img/login.png);
    background-position: center;
    width: 90%;
    height: 90%;
    margin: 5% 5%;
    background-size: cover;
}

.inputsLogin{
    grid-area: inputsLogin;
    display: flex;
    flex-wrap: wrap;
    padding: 15vh 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputsLogin div{
    max-width: 90%;
}

input[type="button"]{
    background: rgb(30, 65, 185);
    color: white;
    border: none;
    width: 80%;
    height: 6vh;
    border-radius: 0.7vw;
    font-weight: bold;
    font-size: 1.2vw;
}

input[type="text"], input[type="password"]{
    width: 80%;
    height: 6vh;
    border-radius: 0.7vw;
    border-color: rgba(59, 59, 59, 0.37);
    font-weight: bold;
    font-size: 1.2vw;
    padding-left: 1%;
}