@use '../../App.scss';


.modal-background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(App.$neutral-color-dark-gray, 0.4);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-confirm-box-container{
        width: 90%;
        height: 180px;
        background-color: App.$neutral-color-white;
        border-radius: 20px;

        .modal-title{
            width: 100%;
            height: 50px;
            background-color: App.$primary-medium-green;
            border-radius: 20px 20px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                font: App.$title-h5-20px;
                color: App.$neutral-color-white;
            }
        }

        .message-button-container{
            width: 100%;
            height: 130px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            p{
                width: 90%;
                height: 60px;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                font: App.$paragraph-16px;
                color: App.$neutral-color-medium-gray;
            }

            .modal-buttons-container{
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}

@media screen and (min-width: 500px){

    .modal-background{
        width: 440px;
        height: 956px;
        max-height: 90vh;
    }
}