@use '../App.scss';

header{
    min-height: 150px;
    width: 100vw;
    background-color: App.$neutral-color-white;
    filter: drop-shadow(0 -8px 12px App.$neutral-color-black);
    position: fixed;
    z-index: 1000;
    top: 0;

    .social-media, .header-menu{ width: 100%;}
    
    .social-media{
        background-color: App.$primary-color-red;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: end;

        .social-media-instagram{
            background-image: url(../assets/img/instagramIcon.svg);
            margin-right: 15px;
        }

        .social-media-facebook{
            background-image: url(../assets/img/facebookIcon.svg);
            margin-right: 5vw;
        }

        .social-media-instagram, .social-media-facebook{
            background-size: cover;
            height: 20px;
            width: 20px;
            cursor: pointer;
        }

    }
    .header-menu{
        min-height: 110px;
        display: flex;
        align-items: center;

        .header-menu-logo{
            min-width: 223px;
            width: 20%;

            .header-logo{
                min-height: 90px;
                width: 208px;
                background-image: url(../assets/img/primeLogoV1.svg);
                background-size:cover;
                margin-left: 3vw;
            }

        }

        .header-links{
            min-width: 223px;
            min-height: 90px;
            width: 65%;
            display: flex;
            justify-content: end;
            align-items: center;

            a{
                width: 100px;
                text-align: center;
                margin: 0 0 0 3vw;
                font: App.$paragraph-20px;
                font-weight: 700;
                color: App.$primary-color-blue;
                text-decoration: none;
                cursor: pointer;
                transition: color 0.3s ease;
                display: inline-block;
            }

            a:hover{
                animation: glowing 1.2s infinite;
            }

            @keyframes glowing {
                0% {
                  color: App.$primary-color-blue;
                }
                50% {
                    color: App.$primary-color-red;
                }
                100% {
                    color: App.$primary-color-blue;
                  }
              }
             
        }

        .header-student-button{
            min-width: 215px;
            min-height: 90px;
            width: 15%;
            display: flex;
            align-items: center;
            justify-content: center;

            .student-button{
                width: 200px;
                height: 65px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
                background-color: App.$primary-color-red;
                color: App.$neutral-color-white;
                font: App.$title-h6-16px;
                letter-spacing: 0.3px;
                border-style: none;
                border-radius: 50vw;
                transition: 0.3s ease-in-out;
                cursor: pointer;
            }

            .student-button:hover{
                filter: brightness(1.2);
                box-shadow: 0px 0px 12px -4px App.$neutral-color-black;
            }

        }
    }
}

@media (max-width: 800px) and (orientation: portrait) {

    header{
        min-height: 130px;
        position:static;
        
        .social-media{
    
            .social-media-facebook{
                margin-right: 6vw;
            }
        }
        
        .header-menu{
            min-height: 90px;
            justify-content: space-between;
    
            .header-menu-logo{
                min-width: 177px;
                display: flex;
                justify-content: center;
                margin-left: 2vw;

                .header-logo{
                    min-height: 70px;
                    width: 162px;
                    margin: 0;
                }
            }
    
            .header-links{
                display: none;
            }
    
            .header-student-button{
                min-width: 170px;
                min-height: 70px;
    
                .student-button{
                    width: 155px;
                    height: 55px;
                    font: App.$m-title-h6-12px;
                    letter-spacing: 1px;
                }
            }
        }
    }

}