@use '../App.scss';

.proposal-section{
    min-height: calc(100vh - 150px);
    min-width: 100vw;

    .proposal-background, .foreground-stars{ min-height: calc(69vh - 75px); width: 100%; }

    .proposal-background{
        background-color: App.$secondary-color-blue-2;
        display: flex;
        justify-content: center;

        .foreground-stars{
            background-image: url(../assets/img/foregroundStars.png);
            background-size: contain;
            background-blend-mode: multiply;
            opacity: 3%;
            position: absolute;
        }

        .proposal{
            width: 80%;
            height: calc(69vh - 75px);;
        }
    }
    .methodology-background{
        min-height: calc(31vh - 75px);
        background-color: App.$primary-color-blue;
        display: flex;
        justify-content: center;

        .location-elipse{
            width: 110px;
            height: 110px;
            position: absolute;
            margin-top: -55px;
            z-index: 0;
            background-color: App.$primary-color-blue;
            border-radius: 100%;
        }

        .methodology{
            width: 80%;
            height: 280px;
            display: flex;
            justify-content: center;
        }
    }
}


@media (max-width: 800px) and (orientation: portrait) {

    .proposal-background, .foreground-stars{ min-height: calc(69vh - 65px); }

    .proposal{ min-height: calc(69vh - 65px); }

    .methodology-background{ min-height: calc(31vh - 65px); }

    .proposal-section{
        margin-top: 0px;
    }

    .location-elipse{
        display: none;
    }

}