@use '../App.scss';

.services-section {
    min-height: 1120px;
    min-width: 100vw;

    .courses-background, .foreground-stars { min-height: 420px; width: 100%; }

    .courses-background {
        background-color: App.$secondary-color-blue-2;
        display: flex;
        justify-content: center;

        .foreground-stars {
            background-image: url(../assets/img/foregroundStars.png);
            background-size: contain;
            background-blend-mode: multiply;
            opacity: 3%;
            position: absolute;
        }
        .courses {
            width: 80%;
            height: 420px;
        }   
    }

        .english-levels-background {
            background-color: App.$neutral-color-white;
            height: 700px;
            display: flex;
            justify-content: center;

            .english-levels{
                width: 80%;
                height: 700px;
                
            }
        }
    }