@use '../App.scss';

.proposal-location-section {
    min-height: 100vh;
    width: 100vw;

    .proposal-container-active{
        opacity: 1 !important;
    }

    .proposal-background {
        width: 100%;
        min-height:650px;
        height: 70vh;
        background-color: App.$secondary-color-blue-2;
        display: flex;
        justify-content: center;
        align-items: end;
        position: relative;

        .foreground-stars {
            width: 100%;
            height: 100%;
            background-image: url(../assets/img/foregroundStars.webp);
            background-size: contain;
            background-blend-mode: multiply;
            opacity: 3%;
            position: absolute;
        }

        .proposal-container {
            width: calc(60% + ((1920px - 100vw))/2) ;
            max-width: 90%;
            height: 95%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 95px;
            transition: 500ms ease-in;
            opacity: 0;
            

            .proposal-text-container {
                color: App.$neutral-color-white;
                display: flex;
                justify-content: center;

                .proposal-text{
                    width: 100%;
                    height: 90%;
                    display: grid;
                    grid-template-rows: 17% 63% 15%;
                    gap: 2.5%;
                    align-items: center;

                    h1{
                        width: 100%;
                        font: App.$title-h1-42px;
                        text-align: center;
                    }

                    .proposal-text-item-container{
                        width: 90%;
                        height: 100%;
                        margin: 0 5%;
                        display: grid;
                        grid-template-rows: repeat(3, 33%);

                        .proposal-text-item{
                            width: 95%;

                            h3 {
                                font: App.$subtitle-26px;
                                margin-bottom: 5px;
                            }
                    
                            p {
                                font: App.$paragraph-16px;
                            }
                        }
                    }

                    .CTA-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .proposal-image{
                width: 100%;
                height: auto;
                background-image: url(../assets/img/student.webp);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center bottom;
                filter: drop-shadow(2px 0px 10px App.$secondary-color-blue8);
            }
        }
    }

    .location-background {
        background-color: App.$primary-color-blue;
        display: flex;
        justify-content: center;

        .location-elipse {
            width: 110px;
            height: 110px;
            position: absolute;
            margin-top: -55px;
            z-index: 0;
            background-color: App.$primary-color-blue;
            border-radius: 100%;
        }

        .location {
            width: calc(60% + ((1920px - 100vw))/2) ;
            display: grid;
            grid-template-columns: auto auto;
            justify-items: center;
            align-items: center;
            z-index: 1;
            margin: 25px 0;

            .location-informations {
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 25px;
                justify-items: center;
                align-items: center;

                .location-icon {
                    height: 156px;
                    width: 110px;
                    background-image: url(../assets/img/localizationIcon.svg);
                    background-size: cover;
                }

                .location-text {
                    color: App.$neutral-color-white;

                    h2 {
                        font: App.$title-h2-36px;
                        letter-spacing: 1px;
                        margin-bottom: 20px;
                    }

                    p {
                        width: 90%;
                        font: App.$paragraph-20px;
                        line-height: 28px;
                        margin: 12px 0;
                    }
                }
            }

            .location-map {
                width: 30%;
                min-width: 500px;
                height: 220px;
                display: flex;
                padding-bottom: 20px;

                .map {
                    height: 100%;
                    width: 100%;
                    background-image: url(../assets/img/map.png);
                    background-size: cover;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                }

                .map:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1099px) and (orientation:landscape) {

    .proposal-location-section {

        .proposal-background{
            min-height: 550px;

            .proposal-container {
                
                grid-template-columns: 1fr;

                .proposal-text-container{
                    height: 90%;

                    .proposal-text{
                        row-gap: 4%;

                        h1{
                            font: App.$m-title-h1-36px;
                        }

                        .proposal-text-item-container{
                            width: 100%;
                            margin: 0;
                            justify-content: center;

                            .proposal-text-item{
                                width: 60%;
                                margin: 0 20%;
                                text-align: center;

                                h3{
                                    font: App.$m-title-h3-24px;
                                }
                                p{
                                    font: App.$m-paragraph-15px;
                                }
                            }
                        }
                    }
                }

                .proposal-image{
                    display: none;;
                }
            }
        }

        .location-background {
            
            .location-elipse {
                width: 90px;
                height: 90px;
                margin-top: -45px;
            }

            .location {
                width: 60%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;


                .location-informations {
                    column-gap: 0px;
                    padding-left: 10%;
                    margin-bottom: 15px;

                    .location-text {
                        width: 90%;

                        h2 {
                            font: App.$m-title-h2-30px;
                            margin-bottom: 0;
                        }
    
                        p {
                            font: App.$paragraph-20px;
                            line-height: 28px;
                            margin: 12px 0;
                        }
                    }
                }

                .location-map {
                    width: 100%;
                    min-width: auto;

                    .map:hover {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 300px) and (orientation:portrait) {

    .proposal-location-section {
        max-width: 100vw;
        height:auto;

        .proposal-background{
            min-height:auto;
            height: auto;

            .proposal-container {
                width: 95%;
                height: auto;
                grid-template-columns: 1fr;

                .proposal-text-container{
                    margin-bottom: 25px;

                    .proposal-text{
                        height: auto;

                        h1{
                            font: App.$m-title-h1-36px;
                        }

                        .proposal-text-item-container{
                            width: 100%;
                            height: auto;
                            margin: 25px 0;
                            justify-content: center;
                            align-items: center;

                            .proposal-text-item{
                                margin: 15px 5% 25px 5%;

                                h3{
                                    font: App.$m-title-h3-24px;
                                }
                                p{
                                    font: App.$m-paragraph-15px;
                                }
                            }
                        }
                    }
                }

                .proposal-image{
                    display: none;;
                }
            }
        }

        .location-background {

            .location-elipse {
                display: none;
            }

            .location {
                width: 90%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;


                .location-informations {
                    grid-template-columns: 1fr;
                    grid-template-rows: auto auto;
                    column-gap: 0px;

                    .location-icon {
                        height: 78px;
                        width: 55px;
                        margin-bottom: 15px;
                    }

                    .location-text {
                        text-align: center;

                        h2 {
                            font: App.$m-title-h2-30px;
                            letter-spacing: 0;
                            margin-bottom: 0;
                        }
    
                        p {
                            font: App.$m-paragraph-15px;
                            line-height: 20px;
                            margin: 12px 5%;
                        }
                    }
                }

                .location-map {
                    width: 100%;
                    min-width: auto;
                    height: 220px;
                    display: flex;
                    justify-content: center;
                    padding-right: 15px;
                    padding-bottom: 0px;

                    .map:hover {
                        transform: scale(1);
                    }
                }
            }
        }
    }

}