/* CONFIGURAÇÕES GERAIS DA PÁGINA E VARIÁVEIS */
*{margin: 0; padding: 0;}
html{scroll-behavior: smooth; transition: 1s;}
/* Barras de Rolagem (tamanho | fundo da barra onde corre a seta | alça da barra que mostra a altura que está) */
::-webkit-scrollbar {width:12px; height: 12px;}
::-webkit-scrollbar-track {background: var(--corBarraRolagemAzul);}
::-webkit-scrollbar-thumb {background: var(--corTextoLaranja);}
::-webkit-scrollbar:vertical{display: none;}


/* IMPORTAÇÃO DE FONTES DA PÁGINA */

/* Titulos */
@font-face {font-family: RobotoRegular; src: url("../font/titles/roboto/Roboto-Regular.ttf");}
@font-face {font-family: RobotoBold; src: url("../font/titles/roboto/Roboto-Bold.ttf");}
@font-face {font-family: RobotoBlack; src: url("../font/titles/roboto/Roboto-Black.ttf");}
@font-face {font-family: RobotoLight; src: url("../font/titles/roboto/Roboto-Light.ttf");}
@font-face {font-family: RobotoMedium; src: url("../font/titles/roboto/Roboto-Medium.ttf");}
@font-face {font-family: RobotoBoldItalic; src: url("../font/titles/roboto/Roboto-BoldItalic.ttf");}
@font-face {font-family: RobotoItalic; src: url("../font/titles/roboto/Roboto-Italic.ttf");}
/* Subtitulos */
@font-face {font-family: LatoRegular; src: url("../font/subtitles/lato/Lato-Regular.ttf");}
@font-face {font-family: LatoBold; src: url("../font/subtitles/lato/Lato-Bold.ttf");}
@font-face {font-family: LatoBlack; src: url("../font/subtitles/lato/Lato-Black.ttf");}
/* Corpo do Texto */
@font-face {font-family: LiterataRegular; src: url("../font/body/literata/LiterataBookRegular.otf");}
@font-face {font-family: LiterataBold; src: url("../font/body/literata/LiterataBook-Bold.otf");}
@font-face {font-family: LiterataBoldItalic; src: url("../font/body/literata/LiterataBook-BoldItalic.otf");}
@font-face {font-family: LiterataItalic; src: url("../font/body/literata/LiterataBook-Italic.otf");}


/* DECLARAÇÃO DE VARIÁVEIS */
:root{
/* CORES */
--corFundoAzul: rgb(60,160,210); --corFundoLaranja: rgb(240,140,60); --corTextoAzul: rgb(0,150,250); --corTextoLaranja: rgb(240,110,10);
--corBarraRolagemAzul: rgb(40,130,160); --corRodape: rgb(40,150,210),rgb(40,90,200); --corNeutraBranca: rgb(255,255,255);
--corNeutraPreta: rgb(0,0,0); --corNeutraCinza: rgb(210, 210, 210); 
/* FONTES */
--tr: RobotoRegular; --tb: RobotoBold; --tbk: RobotoBlack; --tl: RobotoLight; --tm: RobotoMedium; --tbi: RobotoBoldItalic; --ti: RobotoItalic
--str: LatoRegular; --stb: LatoBold; --stbk: LatoBlack; --cr: LiterataRegular; --cb: LiterataBold; --ci: LiterataItalic; --cbi: LiterataBoldItalic;
}


/* ELEMENTOS FIXOS, BOTÕES, MODAIS OU REPETIDOS*/

/* CLASSES, IDS E ATRIBUTOS DE AJUSTES */
.flexivelEsquerda{justify-content: flex-start;}
.flexivelDireita{justify-content: flex-end;}
.flexivelCentro{justify-content:center;}

/* BOTÃO QUE RETORNA PARA O TOPO DO SITE */
.botaoTopo{width: 30px; height: 30px; background-color: var(--corTextoAzul); position: fixed; right: 10px; bottom:10px;
display: flex; justify-content: center; align-items: center; border-radius: 5px; filter: drop-shadow(0 0 4px var(--corNeutraPreta));}
.botaoTopo a{text-decoration: none; padding: 2px 1px 0 0; color: var(--corNeutraBranca); font-size: 1.1em; font-weight: bolder;}
/* BOTÃO BOLINHA ICONE DE HAMBURGUER COM MENU DO SITE */
.botaoMenu{width: 50px; height: 50px; background-color: var(--corTextoAzul); position: fixed; left: 10px; top:20px;;
display: flex; justify-content: center; align-items: center; border-radius: 50%; filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.644));
color: var(--corNeutraBranca); font-size: 1.5em; font-weight: 700; cursor: pointer;}
.botaoMenuVisivel{opacity: 1; transition: 1s ease-in-out;}
.botaoMenuInvisivel{opacity: 0; transition: 1s ease-in-out;}

/* BOTÃO CTA PADRÃO QUE LEVA AO AIRBNB */
.botaoCTA{width: 20vw; height: 7vh; border-style: none; color: var(--corNeutraBranca); border-radius: 1.6vw; cursor: pointer;
font-family: var(--stbk); font-weight: 900; font-size: 1.5vw; box-shadow: 0 0 1vw -0.2v var(--corNeutraPreta); background-color: var(--corTextoAzul);} 
.botaoCTA:enabled{transition: 0.5s;}
.botaoCTA:hover{background: var(--corFundoLaranja); transition: 0.5s;}
.botaoCTA:active{background-color: var(--corTextoLaranja);}
.botaoCTA a {text-decoration: none; color: var(--corNeutraBranca);}

/* BOTÃO "Veja Mais" que mostra avaliações no Airbnb */
.botaoVejaMais{width: 170px; height: 32px; border-style: none; border-radius: 5px; font-family: var(--tbk); 
font-size: 16px; font-weight: bolder; cursor: pointer; color: var(--corTextoLaranja); background-color: var(--corNeutraBranca);
box-shadow: 0 0 12px 0px var(--corNeutraPreta);}
.botaoVejaMais:hover{background-color: var(--corFundoLaranja); color: var(--corNeutraBranca); transition: all 0.3s ease-in-out;}
.botaoVejaMais:enabled{transition: 0.3s;}
.botaoVejaMais:active{background-color: var(--corTextoLaranja);}

/* BOTÃO "DETALHES" QUE MOSTRA OS DETALHES DE CADA APARTAMENTO */
.botaoDetalhes{width: 35%; height: 13%; background-color: rgba(0, 0, 0, 0.5); color: var(--corNeutraBranca);
    font-family: var(--tbk); font-size: 1vw; letter-spacing: 0.1vw; cursor: pointer; border-color: var(--corNeutraBranca); border-style: solid;}
.botaoDetalhes:hover{background-color: var(--corNeutraBranca); color: var(--corNeutraPreta); transition: 0.5s;}

/* MODAIS DOS APARTAMENTOS, DAS POLÍTICAS E DO MENU */
.modalApartamento{width: 100%; height: 100vh; visibility: hidden; opacity: 0; background-color: rgba(0, 0, 0, 0.8);
position: fixed; display: flex; top: 0; right: 0; bottom: 0; left: 0; z-index: 5;
transition: all 0.4s; justify-content: center; align-items: center;}
.modalApartamento:target{visibility: visible; opacity: 1;}
.modalApartamento a{text-decoration: none; font-size: 24px; color: var(--corNeutraBranca);}
.blurModal{filter: blur(5px);}
.painelModalApartamento{width: 85%; height: 90%; background-color: var(--corFundoAzul); display: grid; grid-template-columns: 100%;}
.conteudoModalApartamento{width: 95%; height: 90%; background-color: var(--corNeutraBranca); margin: 2.5%; border-radius: 2vw; display: grid;
    grid-template-columns: 50% 50%; grid-template-rows: 50% 20% 30%; grid-template-areas: "mdFotoApartamento mdTituloApartamento"
    "mdDescricaoApartamento mdDescricaoApartamento" "mdFacilidadesApartamento mdLocalizacaoApartamento";}

.mdFotoApartamento{grid-area: mdFotoApartamento;} .mdTituloApartamento{grid-area: mdTituloApartamento;}
.mdDescricaoApartamento{grid-area: mdDescricaoApartamento;} .mdFacilidadesApartamento{grid-area: mdFacilidadesApartamento;}
.mdLocalizacaoApartamento{grid-area: mdLocalizacaoApartamento;}

.mdFotoApartamento, .mdTituloApartamento, .mdDescricaoApartamento, .mdLocalizacaoApartamento, .mdFacilidadesApartamento{display: flex; justify-content: center; 
    align-items: center; margin:1% 2%; flex-wrap: wrap;}

.mdFotoApartamento{margin-top: 3%;}
.mdSetaEFotoApartamento, .mdSetaDFotoApartamento{font-size: 2vw; font-family: var(--tbk);  color: var(--corTextoAzul); 
    cursor: pointer; width: 4%;}
.mdDisplayFotosApartamento{width: 70%; height: 100%; border-radius: 0.5vw; box-shadow: 0 0 15px -5px var(--corNeutraPreta); margin: 0 4%;}
.mdImagensApartamento{width: 100%; height: 100%;}

.mdTituloApartamento div{text-align: center; width: 100%; height: auto; display: flex; flex-wrap: wrap; justify-content:center;} 
.mdTituloApartamento h2{width: 100%; font-family: var(--tbk); font-weight: 900; font-size: 3.5vw; color: var(--corTextoLaranja); margin-bottom: 2%;}
.mdTituloApartamento p{width: 100%; font-family: var(--tb); font-size: 1.4vw; color: var(--corNeutraPreta); padding: 0 5%; margin-bottom: 1%;}
.mdTituloApartamento button {margin-top: 3%;}

.mdDescricaoApartamento :not(p:first-child){text-align:justify; text-align-last:left;}
.mdDescricaoApartamento p:first-of-type{text-align: center; font-family: var(--tbk); font-size: 1.5vw; color: var(--corTextoLaranja);}
.mdDescricaoApartamento p{width: 100%; font-family: var(--cr); font-size: 1vw; color: var(--corNeutraPreta); padding: 0 5%; margin-bottom: 1%;}

.mdFacilidadesApartamento{display: grid; grid-template-columns: 50% 50%; grid-template-rows: 20% 80%; margin-top: 3%;
    grid-template-areas: "mdTituloFacilidadesApartamento mdTituloFacilidadesApartamento" "mdFacilidadesEsquerdaApartamento mdFacilidadesDireitaApartamento";}
.mdTituloFacilidadesApartamento{grid-area: mdTituloFacilidadesApartamento; text-align: center; font-family: var(--tbk); font-size: 1.5vw; 
    color: var(--corTextoLaranja);}
.mdFacilidadesEsquerdaApartamento{grid-area: mdFacilidadesEsquerdaApartamento; text-align: center;}
.mdFacilidadesDireitaApartamento{grid-area: mdFacilidadesDireitaApartamento; text-align: center;}
.mdFacilidadesEsquerdaApartamento p, .mdFacilidadesDireitaApartamento p{width: 100%;}
.mdFacilidadesEsquerdaApartamento, .mdFacilidadesDireitaApartamento {font-family: var(--cr); font-size: 1vw; color: var(--corNeutraPreta); display: flex;
flex-wrap: wrap;}

.mdLocalizacaoApartamento{margin-top: 3%;}
.mdLocalizacaoApartamento div:last-of-type{width: 100%; height: 80%; text-align: center;}
.mdLocalizacaoApartamento div iframe{height: 100%; width: 100%;}
.mdTituloLocalizacaoApartamento{width: 100%; height: 20%; font-family: var(--tbk); font-size: 1.5vw; color: var(--corTextoLaranja); text-align: center;}


.btnFecharModal{position:absolute; top: 3%; right: 3%;}

/* ----------PRIMEIRA PÁGINA---------- */


/* CONFIGURAÇÕES DO CABEÇALHO DA PÁGINA */
header{ width: 100%; height: 18.5vh;  display: flex; flex-wrap: wrap; background-color: var(--corNeutraBranca);}

.camadaTopo{height:25%; background-color: var(--corTextoAzul);
    color: var(--corNeutraBranca); display: flex; align-items: center;}

.topo20{width: 20%;} .topo40 {width: 40%;}

.iconeTopo{height: 70%; width: auto; margin-left: 10px;}

.iconeFaceTopo{margin-right: 5%;} .iconeTelefoneTopo{margin-left: 5%;}

.topo div p{ font-family: var(--cb); text-align: center; font-size: clamp(0.1em, 0.2em + 0.8vw, 0.6em + 0.3vw); padding: 0 10px;}
/* Parâmetros: valor mínimo, valor desejável e valor máximo respectivamente */

/* MENU DA PÁGINA E LOGO */
.logoSunset{height: 80%; width: auto; max-width: 80%; margin-left: 8%; margin-right: 5%;}
.camadaMenu{display: flex; height: 75%; width: 15%; align-items: center; justify-content: center;} .menu{width: 70%;}

.topo nav{width: 100%;}
.topo li{margin: 0 2.5%; display: flex;}
.topo li a{position:relative; text-decoration: none; color: var(--corTextoLaranja); font-family: var(--tb);
text-align: center; font-size: 1.7vw; padding: 0 10px;}
.topo ul{list-style-type: none; display: flex; width: 100%; height: 100%; align-items: center;}
.topo li a::before{ content: ""; position: absolute; width: 100%; height: 2px; bottom: -4px; left: 0; background-color: var(--corTextoLaranja);
visibility: hidden; transform: scaleX(0); transition: all 0.3s ease-in-out 0s;}
.topo li a:hover:before {visibility: visible; -webkit-transform: scaleX(1); transform: scaleX(1);}

.iconeLinguagem{height: auto; width: 20%; cursor: pointer; transition: 0.2s;} #botaoPortugues{margin: 0 8%;} #botaoIngles{margin-right: 5%;}
#botaoPortugues:hover{filter:drop-shadow(0 0 20px rgba(0, 167, 0, 0.9)); transition: 0.2s ease-in-out;}
#botaoIngles:hover{filter:drop-shadow(0 0 15px rgb(255, 1, 1, 0.75)); transition: 0.2s ease-in-out;}
/* FIM DO CABEÇALHO DA PÁGINA */

/* PRIMEIRA SEÇÃO DA PÁGINA */
.secaoInicial{ height:81.5vh; width: 100%; background-image: url(../img/carlosDrummond.jpg); background-size: cover;
background-position: top center; box-shadow: inset 0 16px 8px -15px var(--corNeutraPreta);}

.escurecerSecaoInicial{width: 100%; height: 81.5vh; position:absolute; z-index: 0;
background: radial-gradient(closest-side, rgba(255, 255, 255, 0.2), rgba(124, 67, 1, 0.2), rgba(27, 15, 0, 0.25));}
        
.painelSecaoInicial{display: flex; width: 40%; height: 100%; flex-wrap: wrap; justify-content: center; align-items:start;
text-align: center; margin-left: 2%; position: relative; z-index: 1;}

.painelSecaoInicial div {display: flex; justify-content: center; flex-wrap: wrap;}

.secaoInicial h1{font-family: var(--tbk); font-size: 2.7vw; line-height: 3.5vw; color: var(--corNeutraBranca);
text-shadow: 1px 1px 10px rgba(41, 12, 0, 0.65); padding: 10% 1% 0 0;}

.secaoInicial p{font-family: var(--stbk); font-size: 1.2vw; line-height: 1.9vw; color: var(--corNeutraBranca); width: 85%;
padding-bottom: 3%; text-shadow: 1px 1px 4px rgba(34, 11, 1, 0.836);}


/* ----------SEGUNDA PÁGINA---------- */


.secaoApartamentos{height:100vh; width: 100%; background-color: var(--corFundoAzul); box-shadow: 0px 0px 15px var(--corNeutraPreta);
    display: flex; justify-content: center;}
    .secaoApartamentos .painelApartamentos{width: 95%; height: 190vh; border-radius: 20px; position: relative; margin-top: 5vh;
    background-color: var(--corNeutraBranca);}
    
    .tituloApartamento h2{font-family: var(--tbk); font-size: 2.5vw; font-weight: 900; text-align: center; margin-top: 3vh;}
    .tituloApartamento p{font-family: var(--stb); font-size: 1.5vw; font-weight: 900; text-align: center; margin-bottom: 3vh;}
    
    /* .listaApartamentos{width: 100%; height: 45vh; display:flex;  align-items: center; overflow-x:auto;} */
    .listaApartamentos{width: 95%; height: 45vh; overflow-x: auto; display:grid; grid-template-columns:repeat(12, 33.33%); margin-left: 2.5%; 
        align-items: center;}
   .imagemApartamento{height: 90%; box-shadow: 0 0 10px var(--corNeutraPreta); margin:0 5% 0 5%; display: flex; justify-content: center; flex-wrap: wrap;}
   .botaoApartamento{position: relative; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}   
   .tarjaApartamento{width: 80%; height: 23%; background-color: var(--corNeutraBranca); position: relative; display: flex;
    flex-wrap: wrap; text-align: center; align-self:flex-end; margin-top: -23%;}
    .descricaoApartamento{width: 100%; height: 50%; display: flex; justify-content: center; align-items: center; text-align: center;}
    .iconeApartamento{width: auto; height: 70%; filter: invert(100%); margin: 0 2%;}
   .tarjaApartamento h3 {width: 100%; height: 50%; font-family: var(--stbk); font-size: 1.8vw;}
   .tarjaApartamento p{font-family: var(--stbk); font-size: 0.85vw;}

     
    /* IMAGENS DOS APARTAMENTOS NOS RETÂNGULOS DA LISTA */
    .copaLoft{background-image: url("../img/apartamentos/copaLoft.jpg");}
    .estiloSunset{background-image: url("../img/apartamentos/estiloSunset.jpg");}
    .atlanticoLoft{background-image: url("../img/apartamentos/atlanticoLoft.jpg");}
    .sunsetGarden{background-image: url("../img/apartamentos/sunsetGarden.jpg");}
    .copaSunset{background-image: url("../img/apartamentos/copaSunset.jpg");}
    .atlanticoEstudio{background-image: url("../img/apartamentos/atlanticaEstudio.jpg");}
    .estudioCopa{background-image: url("../img/apartamentos/estudioCopa.jpg");}
    .marDeCopa{background-image: url("../img/apartamentos/marDeCopa.jpg");}
    .marDeCopa2{background-image: url("../img/apartamentos/marDeCopaII.jpg");}
    .copaDream{background-image: url("../img/apartamentos/copaDream.jpg");}
    .sunsetEstudio{background-image: url("../img/apartamentos/sunsetEstudio.jpg");}
    .sunsetPremium{background-image: url("../img/apartamentos/sunsetPremium.jpg");}
    /* MESMO COMPORTAMENTO PARA TODAS AS IMAGENS */
    .copaLoft, .estiloSunset, .atlanticoLoft, .sunsetGarden, .copaSunset, .atlanticoEstudio, .estudioCopa, .marDeCopa, .marDeCopa2, .copaDream,
    .sunsetEstudio, .sunsetPremium{background-position: center center; background-size: cover;}


.painelBotaoCTAApartamentos{width: 100%; display: flex; justify-content: center; margin-top: 20px;}


.avaliacaoDeHospedes{width: 100%; height: 50vh; margin: 3vh 0 3vh 0; background-image: url("../img/fundoAreia.png"); background-position: top center; 
    background-size: cover; display: flex; flex-wrap: wrap; justify-content: center; box-shadow: inset 0 -7px 10px -8px;}
.tituloAvaliacaoDeHospede{width: 100%; height: 14vh; padding-top: 4vh; color: var(--corNeutraBranca);}
.tituloAvaliacaoDeHospede h2{font-family: var(--tbk); font-size: 2.5vw; font-weight: 900; text-align: center; line-height: 5vw; 
    filter: drop-shadow(0 1px 8px var(--corNeutraPreta));}
.tituloAvaliacaoDeHospede p{font-family: var(--stb); font-size: 1.5vw; font-weight: 900; text-align: center; 
    filter: drop-shadow(0 1px 5px var(--corNeutraPreta));}
.avaliacaoAirbnb{border-radius: 3vmax 3%; box-shadow: 0 1px 10px; background-color: var(--corNeutraBranca); }
.avaliacaoAirbnb, .avaliacaoAirbnbButton{width: 30%; height: 30vh; position: relative; margin: 5vh 0 0 0; }
.avaliacaoAirbnb div{display: flex; width: 100%; justify-content: center; align-items: center; flex-wrap: wrap;}
.avaliacaoAirbnb div p{width: 100%; text-align: center; padding: 0 5%; color: var(--corTextoLaranja);}
.avaliacaoAirbnb div:first-child{font-family: var(--stb); font-size: 1.2vw; line-height: 2vw; height:60%; margin-top: 5%;}
.avaliacaoAirbnb div:last-child{font-size: 1.2vw;}
.avaliacaoAirbnbButton div{display: flex; width: 100%; height: 100%; align-items:center; justify-content: center; margin-top: -2vh;}


/* ----------TERCEIRA PÁGINA---------- */


.secaoPagamentos{height:100vh; width: 100%; background-color: var(--corFundoLaranja); box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.61);}
/* background-size:cover; background-position: bottom center; background-image: url(../img/fundoLaranjaOnda.svg) */

.politicas{margin-top: 5vh; display: flex; flex-wrap: wrap; width: 100%; height: 60vh;}
.tituloPoliticas{display: flex; justify-content: center; align-items: center; width: 100%; height: 15%;}
.tituloPoliticas h2{font-family: var(--tbk); font-weight: 900; font-size: 2.5vw;}
.politicas h3{font-family: var(--stbk); font-weight: 900; font-size: 1.8vw; padding: 3% 15%; transition: 0.3s ease-in;} 
.politicas p{font-family: var(--tb); font-size: 1.4vw; color: var(--corTextoLaranja); padding: 0 5%;}
.iconePoliticas{width: 100%; text-align: center; transition: 0.3s ease-in;}
.politicas img{width: 35%; height: auto;}
.regrasDeHospedagem, .pagamentosECancelamentos, .politicasDePrivacidade{width: 30%; margin: 2% 1.665%; display: flex; flex-wrap: wrap;
    justify-content: center; text-align: center; align-items: baseline; cursor: pointer; transition: 0.5s ease-in;}

.regrasDeHospedagem:hover, .pagamentosECancelamentos:hover, .politicasDePrivacidade:hover{
    background-color:var(--corTextoLaranja); color:var(--corNeutraBranca); transition: 0.3s ease-in;}
.regrasDeHospedagem:hover .iconePoliticas, .pagamentosECancelamentos:hover  .iconePoliticas, .politicasDePrivacidade:hover  .iconePoliticas{
    margin-top: 10%; position:relative; transition: 0.5s ease-in;}
.regrasDeHospedagem:hover h3, .pagamentosECancelamentos:hover  h3, .politicasDePrivacidade:hover  h3{margin-top: -9%; ;
    position:relative; transition: 0.5s ease-in;}


/* ----------QUARTA PÁGINA---------- */


.secaoSobreNos{height:100vh; z-index: -2; position:relative; width: 100%; display: flex;
background-size:cover; background-image: url(../img/fundoCopacabanaOnda.svg);}

.painelSobreNos{width: 95%; height: 100%; background-color: rgba(255, 255, 255, 0.85)}
.painelSobreNos h2, h3, h4{font-family: var(--tbk); font-weight: 900;}
.painelSobreNos h2{font-size: 2.5vw;}
.painelSobreNos h3{font-size: 2vw;}
.painelSobreNos h4{font-size: 1.5vw;}
.painelSobreNos p:not(.sobreAsValerias p, .valeria p){font-family: var(--stb); font-weight: 900; font-size: 1.3vw;}

.tituloSobreNos{width:100%; height: 15vh;; display: flex; flex-wrap: wrap; text-align: center; margin-top: 5vh;}
.tituloSobreNos *{width: 100%;}

.painelConceitos{width: 100%; height: 20vh; display: flex;}
.conceitos{width: 28.33%; height: 100%; margin: 0 5%;}
.conceitos p:first-of-type{text-align:center; line-height: 2vw;} .conceitos p:last-of-type{text-align:justify; line-height: 2vw;}

.painelSobreAsValerias{width: 100%; height: 55vh; display: flex; justify-content: center;}
.conteudoSobreAsValerias{width: 90%; height: 100%; display: flex; justify-content: center; align-items: center;}
.valeria{width: 23%; height: 50vh; background-color: var(--corTextoLaranja); color: var(--corNeutraBranca); border-radius: 10px; 
    position: relative; z-index: 1; display: flex; justify-content: center; align-items: center; box-shadow: 0 0 10px var(--corNeutraPreta);}

.valeria div{width: 100%; text-align: center;}
.valeria  p{font-family: var(--cr); font-size: 1vw; }
.imagemValerias{width: 50%; height: auto; margin: 2vh 0;}
.iconeSobreASunset{width: 10%; height: auto; padding: 10px 10px 0 10px; }

.sobreAsValerias, .valeria h3, h4{text-align: center;} .sobreAsValerias, .valeria p{text-align: justify;} .valeria h3, .valeria p{padding: 0 10%;}
.sobreAsValerias{width: 40%; height: 45vh; background-color: var(--corNeutraBranca); box-shadow: 0 0 10px; 
    display: flex; flex-wrap: wrap; align-items: center; justify-content: center;}

.sobreAsValerias p{font-family: var(--cr); font-size: 1.1vw; line-height: 1.8vw; width: 100%; padding: 0 10%;}



/* ----------QUINTA PÁGINA---------- */


.secaoFaq{height:73.9vh; width: 100%; background-color: white; box-shadow: 0px 0px 15px var(--corNeutraPreta); display: flex; justify-content: center;
align-items: center;}

.painelFaq{width: 80%; height: 100%; background-color: var(--corNeutraBranca); display: flex; flex-wrap: wrap; color: var(--corFundoAzul);}
.tituloPerguntasFrequentes{display: flex; height: 10vh; width: 100%; align-items: center; justify-content: center; margin-top: 2vh;}
.tituloPerguntasFrequentes div{width: 100%; height: 100%; text-align: center;}
.tituloPerguntasFrequentes div h2{font-family: var(--tbk); font-weight: 900; font-size: 2.5vw;}
.tituloPerguntasFrequentes div p{font-family: var(--stb); font-size: 1.5vw; text-align: center;}
.perguntasFrequentes{display:flex; width: 50%; height: 60vh; flex-wrap: wrap; align-items: center;}
.perguntasFrequentes div{width: 100%; height: auto;}
.perguntasFrequentes p{width: 100%; height: 4.5vh; font-family: var(--stbk); font-size: 1.2vw; cursor: pointer; transition: 0.2s ease-out;}
.perguntasFrequentes p:hover{color: var(--corTextoLaranja); transition: 0.2s ease-in;}
.perguntasFrequentes p::before{content: "▶"; margin-right: 1%;}
.painelCTAFaq{display:flex; width: 50%; height: 60vh; align-items: center; justify-content: center;}




footer{height:29.62vh; width: 100%; position:relative; margin-top:-4vh; background-size:cover; background-image: url(../img/rodapeAzulOnda.svg); display: flex;
justify-content: center; align-items: center;}
.rodape{height: 75%; width: 100%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin-top: 4vh; color: var(--corNeutraBranca);}
.rodapeRedesSociais{ width: 100%; height: 100%; font-family: var(--stb); font-size: 1.2vw;}
.rodapeRedesSociais div:not(.paragrafoCopyright){width: 100%; height:18%; text-align: center; display: flex; justify-content: center; align-items: center; 
    margin: 1vh 0 0 0; flex-wrap: wrap;}
.iconeRodape{height: 100%; width: auto; padding: 0 10px 0 10px; cursor: pointer;}
.paragrafoCopyright{width: 100%; height: 36%; margin: 0; flex-wrap: wrap; text-align: center;}
.paragrafoCopyright p{width: 100%;}