/* CONFIGURAÇÕES GERAIS DA PÁGINA E VARIÁVEIS */
*{margin: 0; padding: 0;}
html{scroll-behavior: smooth; transition: 1s;}
/* Barras de Rolagem (tamanho | fundo da barra onde corre a seta | alça da barra que mostra a altura que está) */
::-webkit-scrollbar {width:12px; height: 12px;}
::-webkit-scrollbar-track {background: var(--corBarraRolagemAzul); border-radius: 5px;}
::-webkit-scrollbar-thumb {background: var(--corNeutraCinza); border-radius: 5px;}
::-webkit-scrollbar:vertical{display: none;}


/* IMPORTAÇÃO DE FONTES DA PÁGINA */

/* Titulos */
@font-face {font-family: RobotoRegular; src: url("../font/titles/roboto/Roboto-Regular.ttf");}
@font-face {font-family: RobotoBold; src: url("../font/titles/roboto/Roboto-Bold.ttf");}
@font-face {font-family: RobotoBlack; src: url("../font/titles/roboto/Roboto-Black.ttf");}
@font-face {font-family: RobotoLight; src: url("../font/titles/roboto/Roboto-Light.ttf");}
@font-face {font-family: RobotoMedium; src: url("../font/titles/roboto/Roboto-Medium.ttf");}
@font-face {font-family: RobotoBoldItalic; src: url("../font/titles/roboto/Roboto-BoldItalic.ttf");}
@font-face {font-family: RobotoItalic; src: url("../font/titles/roboto/Roboto-Italic.ttf");}
/* Subtitulos */
@font-face {font-family: LatoRegular; src: url("../font/subtitles/lato/Lato-Regular.ttf");}
@font-face {font-family: LatoBold; src: url("../font/subtitles/lato/Lato-Bold.ttf");}
@font-face {font-family: LatoBlack; src: url("../font/subtitles/lato/Lato-Black.ttf");}
/* Corpo do Texto */
@font-face {font-family: LiterataRegular; src: url("../font/body/literata/LiterataBookRegular.otf");}
@font-face {font-family: LiterataBold; src: url("../font/body/literata/LiterataBook-Bold.otf");}
@font-face {font-family: LiterataBoldItalic; src: url("../font/body/literata/LiterataBook-BoldItalic.otf");}
@font-face {font-family: LiterataItalic; src: url("../font/body/literata/LiterataBook-Italic.otf");}


/* DECLARAÇÃO DE VARIÁVEIS */
:root{
/* CORES */
--corFundoAzul: rgb(60,160,210); --corFundoLaranja: rgb(240,140,60); --corTextoAzul: rgb(0,150,250); --corTextoLaranja: rgb(240,110,10);
--corBarraRolagemAzul: rgb(40,130,160); --corRodape: rgb(40,150,210),rgb(40,90,200); --corNeutraBranca: rgb(255,255,255);
--corNeutraPreta: rgb(0,0,0); --corNeutraCinza: rgb(210, 210, 210); 
/* FONTES */
--tr: RobotoRegular; --tb: RobotoBold; --tbk: RobotoBlack; --tl: RobotoLight; --tm: RobotoMedium; --tbi: RobotoBoldItalic; --ti: RobotoItalic
--str: LatoRegular; --stb: LatoBold; --stbk: LatoBlack; --cr: LiterataRegular; --cb: LiterataBold; --ci: LiterataItalic; --cbi: LiterataBoldItalic;
}


/* ELEMENTOS FIXOS, BOTÕES, MODAIS OU REPETIDOS*/

/* CLASSES, IDS E ATRIBUTOS DE AJUSTES */
.flexivelEsquerda{justify-content: flex-start;}
.flexivelDireita{justify-content: flex-end;}
.flexivelCentro{justify-content:center;}

/* BOTÃO QUE RETORNA PARA O TOPO DO SITE */
.botaoTopo{width: 30px; height: 30px; background-color: var(--corTextoAzul); position: fixed; right: 10px; bottom:10px;
display: flex; justify-content: center; align-items: center; border-radius: 5px; filter: drop-shadow(0 0 4px var(--corNeutraPreta));}
.botaoTopo a{text-decoration: none; padding: 2px 1px 0 0; color: var(--corNeutraBranca); font-size: 1.1em; font-weight: bolder;}
/* BOTÃO BOLINHA ICONE DE HAMBURGUER COM MENU DO SITE */
.botaoMenu{width: 50px; height: 50px; background-color: var(--corTextoAzul); position: fixed; left: 10px; top:20px;;
display: flex; justify-content: center; align-items: center; border-radius: 50%; filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.644));
color: var(--corNeutraBranca); font-size: 1.5em; font-weight: 700; cursor: pointer;}
.botaoMenuVisivel{opacity: 1; transition: 1s ease-in-out;}
.botaoMenuInvisivel{opacity: 0; transition: 1s ease-in-out;}

/* BOTÃO CTA PADRÃO QUE LEVA AO AIRBNB */
.botaoCTA{width: 250px; height: 42px; border-style: none; color: var(--corNeutraBranca); border-radius: 18px; background-color: var(--corTextoAzul);
font-family: var(--stbk); font-weight: 900; font-size: 19px; cursor: pointer; box-shadow: 0 0 12px -2px var(--corNeutraPreta);}

/* BOTÃO DETALHES PARA MOSTRAR OS DETALHES DE UM APARTAMENTO */
.botaoDetalhes{}


/* ----------PRIMEIRA PÁGINA---------- */


/* CONFIGURAÇÕES DO CABEÇALHO DA PÁGINA */
header{ width: 100%; height: 18.5vh;  display: flex; flex-wrap: wrap; background-color: var(--corNeutraBranca);}

.camadaTopo{height:25%; background-color: var(--corTextoAzul);
    color: var(--corNeutraBranca); display: flex; align-items: center;}

.topo20{width: 20%;} .topo40 {width: 40%;}

.iconeTopo{height: 70%; width: auto; margin-left: 10px;}

.iconeFaceTopo{margin-right: 5%;} .iconeTelefoneTopo{margin-left: 5%;}

header div p{ font-family: var(--cb); text-align: center; font-size: clamp(0.1em, 0.2em + 0.8vw, 0.6em + 0.3vw); padding: 0 10px;}
/* Parâmetros: valor mínimo, valor desejável e valor máximo respectivamente */

/* MENU DA PÁGINA E LOGO */
.logoSunset{height: 80%; width: auto; max-width: 80%; margin-left: 8%; margin-right: 5%;}
.camadaMenu{display: flex; height: 75%; width: 15%; align-items: center; justify-content: center;} .menu{width: 70%;}

header nav{width: 100%;}
header li{margin: 0 2.5%; display: flex;}
header li a{position:relative; text-decoration: none; color: var(--corTextoLaranja); font-family: var(--tb);
text-align: center; font-size: 1.7vw; padding: 0 10px;}
header ul{list-style-type: none; display: flex; width: 100%; height: 100%; align-items: center;}
header li a::before{ content: ""; position: absolute; width: 100%; height: 2px; bottom: -4px; left: 0; background-color: var(--corTextoLaranja);
visibility: hidden; transform: scaleX(0); transition: all 0.3s ease-in-out 0s;}
header li a:hover:before {visibility: visible; -webkit-transform: scaleX(1); transform: scaleX(1);}

.iconeLinguagem{height: auto; width: 20%; cursor: pointer; transition: 0.2s;} #botaoPortugues{margin: 0 8%;} #botaoIngles{margin-right: 5%;}
#botaoPortugues:hover{filter:drop-shadow(0 0 20px rgba(0, 167, 0, 0.9)); transition: 0.2s ease-in-out;}
#botaoIngles:hover{filter:drop-shadow(0 0 15px rgb(255, 1, 1, 0.75)); transition: 0.2s ease-in-out;}
/* FIM DO CABEÇALHO DA PÁGINA */

/* PRIMEIRA SEÇÃO DA PÁGINA */
.secaoInicial{ height:81.5vh; width: 100%; background-image: url(../img/fundoIpanema.jpg); background-size: cover;
    background-position: top center; box-shadow: inset 0 16px 8px -15px var(--corNeutraPreta);}



/* ----------SEGUNDA PÁGINA---------- */


.secaoApartamentos{height:100vh; width: 100%; background-color: var(--corFundoAzul); box-shadow: 0px 0px 15px var(--corNeutraPreta);
display: flex; justify-content: center;}

.secaoApartamentos .painelApartamentos{width: 95%; height: 190vh; border-radius: 20px; position: relative; margin-top: 5vh; background-color: var(--corNeutraBranca);}



/* ----------TERCEIRA PÁGINA---------- */


.secaoPagamentos{height:100vh; width: 100%; background-color: var(--corFundoLaranja); box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.61);}
/* background-size:cover; background-position: bottom center; background-image: url(../img/fundoLaranjaOnda.svg) */


/* ----------QUARTA PÁGINA---------- */


.secaoSobreNos{height:100vh; z-index: -2; position:relative; width: 100%; display: flex;
background-size:cover; background-image: url(../img/fundoCopacabanaOnda.svg);}

.painelSobreNos{width: 95%; height: 100%; opacity: 0.85; background-color: var(--corNeutraBranca);}



/* ----------QUINTA PÁGINA---------- */


.secaoFaq{height:73.9vh; width: 100%; background-color: white; box-shadow: 0px 0px 15px var(--corNeutraPreta); display: flex; justify-content: center;
align-items: center;}

.painelFaq{width: 90%; height: 100%; background-color: var(--corNeutraBranca); display: flex; flex-wrap: wrap;}
.tituloPerguntasFrequentes{display: flex; height: 10%; width: 100%; align-items: center; justify-content: center;}
.perguntasFrequentes{display:flex; width: 90%; height: 90%;}
.painelCTAFaq{display:flex; width: 10%; height: 90%; align-items: center;}




footer{height:29.62vh; width: 100%; position:relative; margin-top:-4vh; background-size:cover; background-image: url(../img/rodapeAzulOnda.svg); display: flex;
justify-content: center; align-items: center;}
footer div{height: 75%; width: 100%; display: flex; justify-content: center; align-items: center;}
.iconeRodape{height: 30px; width: 30px;}