.mainDivSTA{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 12vw 88vw;
    grid-template-areas: "panelSTA contentSTA";
}

.panelSTA{
    background-color: rgb(215,90,5);
    grid-area: panelSTA;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.userProfileSTA{
    width: 100%;
    height: 26%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.userPhotoSTA{
    width: 90px;
    height: 90px;
    border-radius: 50vw;
    margin-top: 10%;
}

.userNameSTA{
    width: 100%;
    text-align: center;
    font-size: 1.6vw;
    color: white;
    align-self: flex-start;
    margin-top: -10%;
}

.buttonsContainerPanelSTA{
    width: 100%;
    height: 74%;
}

.buttonContainerSTA{
    width: 100%;
    height: 50px;
    border-style: none;
    display: flex;
    align-items: center;
    border-top: rgb(190,80,5) solid;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.buttonContainerSTA:last-of-type{
    border-bottom: rgb(190,80,5) solid;
}

.buttonContainerSTA:hover{
    background-color: rgb(190,80,5);
    box-shadow: inset 0 0 5px rgba(167, 69, 4, 0.808);
    transition: all 0.3s;
}

.buttonIconSTA{
    width: 35px;
    height: 35px;
    margin: 0 5% 0 5%;
    background-position: center center;
    background-repeat: no-repeat;
}

.bi0{background-image: url("../img/panelIcon0.svg");} .bi1{background-image: url("../img/panelIcon1.svg");}
.bi2{background-image: url("../img/panelIcon2.svg");} .bi3{background-image: url("../img/panelIcon3.svg");}
.bi4{background-image: url("../img/panelIcon4.svg");} .bi5{background-image: url("../img/panelIcon5.svg");}

.textButtonIconSTA{
    font-size: 1vw;
}


.contentSTA{
    width: 100%;
    height: 100%;
    display: grid;
    grid-area: contentSTA;
    grid-template-rows: 11vh 81vh 8vh;
    grid-template-areas: "headerSTA" "mainContentSTA" "footerSTA";
}

.headerSTA{
    position: relative;
    grid-area: headerSTA;
    display: flex;
    justify-content: space-between;
}

.headerSTA h1{
    align-self: self-end;
    margin-left: 3%;
    letter-spacing: 0.1vw;
    font-size: 2.5vw;
}

.contentNotificationSTA{
    position: absolute;
    right: 22%;
    top: 45%;
    width: 40px;
    height: 40px;
    background-image: url("../img/panelIcon14.svg");
}

.enableNotificationSTA{
    background-image: url("../img/panelIcon15.svg");
    cursor: pointer;
    animation-name: lightEffect;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes lightEffect {
  0% {background-image: url("../img/panelIcon15.svg"); filter: drop-shadow(0 0 15px rgba(230, 255, 30, 0.5));}
  50%{background-image: url("../img/panelIcon14.svg"); filter: drop-shadow(0 0 0 rgba(229, 255, 0, 0));}
  100% {background-image: url("../img/panelIcon15.svg"); filter: drop-shadow(0 0 15px rgba(230, 255, 30, 0.5));}
}

.headerButtonSTA{
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/headerRightButton.png");
}

/* Linha que aparecerá no hover */
.headerButtonSTA a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Altura da linha */
    bottom: -30%; /* Posicione a linha na parte inferior do link */
    left: 0;
    background-color: white; /* Cor da linha */
    transform: scaleX(0); /* Inicialmente, a linha tem largura zero */
    transform-origin: left center; /* Inicia a transformação da esquerda */
    transition: transform 0.7s; /* Adicione uma transição para a transformação */
  }
  
  /* Efeito hover: expandir a linha */
  .headerButtonSTA a:hover::before {
    transform: scaleX(1); /* Expande a linha para 100% de largura */
  }
      
  
.headerButtonSTA a{
    color: white;
    text-decoration: none;
    margin-left: 20%;
    font-size: 1.2vw;
    letter-spacing: 0.09vw;
    position: relative;
}


.mainContentSTA{
    width: 97%;
    height: 97%;
    margin: 1.5% 0 0 1.5%;
    grid-area: mainContentSTA;
    background-color: white;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowSTA{
    position: absolute;
    color: rgb(40,10,85);
    font-size: 2vw;
    cursor: pointer;
}

.arrowSTA::selection{
    background-color: white;
}

.arrowSTA:hover{
    color: rgb(250,115,5);
}

.leftArrowSTA{left: 1.25%;} .rightArrowSTA{right: 1.25%;}

.lastUpdatesContentSTA{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lastUpdatesSTA{
    width: 95%;
    height: 90%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    margin: 2% 2.5%;
}

.lastUpdatesSTA div{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px -5px rgb(50,50,50);
    margin: 3% 6%;
}

.footerlSTA{
    grid-area: footerSTA;
}

.footerDivSTA{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.footerLogoSTA{
    height: 95%;
    width: auto;
    
}

.systemVersionSTA{
    position: absolute;
    bottom: 2%;
    right: 2%;
}