@use '../../App.scss';

@mixin align-items(){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

//Aqui eu fiz conforme verifiquei no Figma, porém tenho o costume de, quando faço desktop first, colocar os estilos livres de media queries e só aplicar as modificações
//nas classes das medias queries de menores formatos, porque fica com menos código e não fica com repetições de tamanhos, cores, etc.

@media screen and (min-width: 1440px){
    .promo-section-container{
        width: 100%;
        padding: 40px;
        background: App.$c-promo-section-background;
        @include align-items();

        .promo-banner{
            width: 100%;
            height: 366px;
        }

        .promo-products-container{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 40px;
            justify-items: center;
            align-items: center;
            border-radius: 8px;

            .product-container{
                width: 100%;
                padding: 24px;
                @include align-items();
                row-gap: 16px;
                background: App.$c-logitech-product-background;


                .promo-product-image{
                    width: auto;
                    height: 200px;
                    border-radius: 4px;
                }
                
                div{
                    width: 100%;
                    display: flex;
                    column-gap: 8px;

                    .logitech-symbol{
                        width: 26px;
                        height: 24px;
                    }

                    .logitech-logo{
                        font: App.$w-logitech-logo;
                        color: App.$c-logitech-accent;
                        letter-spacing: -0.4px;
                    }
                }

                .product-description{
                    width: 100%;
                    font: App.$w-logitech-description;
                    letter-spacing: -0.4px;
                    color: App.$c-logitech-text;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .promo-prices-container{
                    display: block;
                    width: 100%;

                    .original-price{
                        width: 100%;
                        display: block;
                        font: App.$w-logitech-orginal-price;
                        color: App.$c-logitech-text;
                        text-decoration: line-through;
                    }

                    .promo-price{
                        display: block;
                        font: App.$w-logitech-promo-price;
                        color: App.$c-logitech-accent;
                    }
                }

                .promo-order-button{
                    width: 100%;
                    padding: 8px;
                    background: App.$c-logitech-accent;
                    border: none;
                    color: App.$c-text;
                    font: App.$w-logitech-order-button;
                    letter-spacing: -0.4px;
                    transition: 0.3s;
                    cursor: pointer;
                }

                .promo-order-button:hover{
                    background: App.$c-logitech-dark-accent;
                }
            }
        }
    }
}


@media screen and (min-width: 360px) and (max-width: 1439px){
    .promo-section-container{
        width: 100%;
        padding: 16px;
        background: App.$c-promo-section-background;
        @include align-items();

        .promo-banner{
            width: 100%;
        }

        .promo-products-container{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 16px;
            justify-items: center;
            align-items: center;

            .product-container{
                width: 100%;
                padding: 16px;
                @include align-items();
                row-gap: 16px;
                background: App.$c-logitech-product-background;
                border-radius: 4px;


                .promo-product-image{
                    max-width: 100%;
                    width: auto;
                    height: 144px;
                    border-radius: 4px;
                }
                
                div{
                    width: 100%;
                    display: flex;
                    column-gap: 4px;

                    .logitech-symbol{
                        width: 17px;
                        height: 16px;
                    }

                    .logitech-logo{
                        font: App.$m-logitech-logo;
                        color: App.$c-logitech-accent;
                        letter-spacing: -0.2px;
                    }
                }

                .product-description{
                    width: 100%;
                    font: App.$m-logitech-description;
                    letter-spacing: -0.2px;
                    color: App.$c-logitech-text;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .promo-prices-container{
                    display: block;
                    width: 100%;

                    .original-price{
                        width: 100%;
                        display: block;
                        font: App.$m-logitech-orginal-price;
                        color: App.$c-logitech-text;
                        text-decoration: line-through;
                    }

                    .promo-price{
                        display: block;
                        font: App.$m-logitech-promo-price;
                        color: App.$c-logitech-accent;
                        letter-spacing: -0.8px;
                    }
                }

                .promo-order-button{
                    width: 100%;
                    padding: 8px;
                    background: App.$c-logitech-accent;
                    border: none;
                    color: App.$c-text;
                    font: App.$m-logitech-order-button;
                    letter-spacing: -0.2px;
                    transition: 0.3s;
                    cursor: pointer;
                }

                .promo-order-button:hover{
                    background: App.$c-logitech-dark-accent;
                }
            }
        }
    }
}